.additional-goods {
  padding-top: 32px;
  padding-bottom: 40px;
  border-top: 1px solid @border-grey;
  border-bottom: 1px solid @border-grey;
  background-color: @white;
  color: @grey-font;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    .tablet-container;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    width: 895px;
    margin: 0;
  }
}
