.contacts {
  .mobile-container;
  padding-top: 28px;
  padding-bottom: 29px;
  background-color: @white;
  color: @grey-font;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__notification {
  order: 1;
  .oswald;
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.contacts__text {
  order: 2;
  font-style: normal;
  margin-top: 0;
  width: 140px;
}

.contacts--dark {
  background-color: @grey-background;
}

@media (min-width: @tablet-width) {
  .contacts {
    .tablet-container;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 59px;
  }

  .contacts__notification {
    order: 1;
    .oswald;
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    width: 150px;
    padding-left: 40px;
  }

  .contacts__text {
    order: 2;
    font-style: normal;
    text-align: right;
    width: 160px;
    padding-right: 40px;
  }

  .contacts__text-town--space {
    margin-top: 20px;
  }

  .contacts--dark {
    background-color: @grey-background;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    width: 570px;
    height: 200px;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }

  .contacts__notification {
    order: 1;
    .oswald;
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    width: 155px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 40px;
  }

  .contacts__text {
    order: 2;
    font-style: normal;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    width: 155px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 75px;
  }

  .contacts__text-town--space {
    margin-top: 20px;
  }

  .contacts--dark {
    background-color: @white;
  }
}
