.gift {
  .mobile-container;
  padding-top: 64px;
  padding-bottom: 45px;
  margin-bottom: 35px;
  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  min-height: 290px;
  color: @white;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .gift {
    .tablet-container;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    width: 245px;
    margin: 0;
  }
}
