.goods {
  width: 280px;
  padding-top: 25px;
  padding-bottom: 22px;
  border-top: 1px solid @border-grey;
  background-color: @white;
  color: @grey-font;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .goods {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .goods {
    width: 245px;
  }
}
