.page-footer {
  background-color: @grey-background;
  color: @grey-font;
  font-size: 14px;
  line-height: 16px;
}

.page-footer__map {
  width: 320px;
  margin: 0 auto;
  background-color: @grey-background;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-footer__logo {
  padding-top: 38px;
  padding-bottom: 31px;
}
