.social {
  width: 280px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid @border-grey;
  border-top: 1px solid @border-grey;
  background-color: @grey-background;
  color: @grey-font;
  font-family: "Arial", "Helvetica" sans-serif;
  font-size: 16px;
  line-height: 20px;
}
